@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
  /* esempio Tailwind */
  background-image: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.stat-card {
  @apply text-white p-5 rounded shadow flex flex-col justify-center items-center;
}

.btn-primary {
  @apply text-center bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-3 rounded text-sm font-semibold;
}
